{{define "go"}}
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<form action="/tweet" method="post">
    	ツイートする<input type="text" name="tweetbody">
    	<input type="submit" value="ツイート">
	</form>
	<table border="1">
		<thead>
			<tr><th>アカウント</th><th>ツイート</th><th>時間</th><th>いいね</th><th>---</th></tr>
		</thead>
		<tbody>
			{{range .}}
				<tr><td>{{.AccountName}}</td><td>{{.TweetBody}}</td><td>{{.TweetTime}}</td><td>{{.Good}}</td><td>
					<form action="/good" method="post">
            <input type="hidden" value="{{.TweetId}}" name="tweetid">
            <input type="submit" value="いいね">
          </form>
				</td></tr>
			{{end}}
		</tbody>
	</table>
</body>
</html>
{{end}}
